{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 250,
  "tabWidth": 2,
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindStylesheet": "resources/css/app.css",
  "plugins": ["@shufo/prettier-plugin-blade", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "extraLiners": "",
        "indentInnerHtml": true,
        "parser": "blade",
        "sortTailwindcssClasses": true,
        "wrapAttributes": "preserve",
        "wrapAttributesMinAttrs": 5
      }
    }
  ]
}
