includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  ignoreErrors:
    -
      identifier: method.internalClass
      path: tests/*
    -
      message: '#^Access to an undefined property Pest\\Mixins\\Expectation<.*>::\$not\.$#'
      path: tests/*
    -
      message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase::(seed|actingAs|get|put|post|from|withSession|assertAuthenticated|assertGuest)\(\)\.$#'
      path: tests/*

  paths:
    - app
    - config
    - bootstrap
    - database/factories
    - routes
    - tests

  excludePaths:
    - vendor/
